docs/DOC_INTF_ZV360FIIIW_SI_FETCH_RECEIVABLE_IMPORTADO A4H.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:sprx:ep:cust:v360" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:sprx:ep:cust:v360" xmlns:n1="http://v360.io/integration/fetch_receivables">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsdl:types>
  <xsd:schema targetNamespace="http://v360.io/integration/fetch_receivables" xmlns="http://v360.io/integration/fetch_receivables" xmlns:xi0="http://v360.io/integration/fetch_receivables">
   <xsd:element name="FetchReceivablesReq">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="updated_from" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:dateTime">
         <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="updated_to" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:dateTime">
         <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="erp_company_code" type="xsd:string"/>
      <xsd:element name="fiscal_year" minOccurs="0" type="xsd:string"/>
      <xsd:element name="erp_document_types" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="accounting_documents" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="page_size" minOccurs="0" type="xsd:int"/>
      <xsd:element name="page" minOccurs="0" type="xsd:int"/>
      <xsd:element name="erp_posting_keys" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="FetchReceivablesRes">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="success" type="xsd:boolean"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="status" type="xsd:int"/>
      <xsd:element name="current_page" type="xsd:int"/>
      <xsd:element name="total_pages" type="xsd:int"/>
      <xsd:element name="page_size" type="xsd:int"/>
      <xsd:element name="total_results" type="xsd:int"/>
      <xsd:element name="has_next" type="xsd:boolean"/>
      <xsd:element name="payload" minOccurs="0" maxOccurs="unbounded" type="ReceivablesPayload"/>
      <xsd:element name="errors" minOccurs="0" maxOccurs="unbounded" type="ErrorItem"/>
      <xsd:element name="message" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="ErrorItem">
    <xsd:sequence>
     <xsd:element name="error_code" type="xsd:string"/>
     <xsd:element name="error_description" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ReceivablesPayload">
    <xsd:sequence>
     <xsd:element name="erp_code" type="xsd:string"/>
     <xsd:element name="erp_fiscal_receipt" type="xsd:string"/>
     <xsd:element name="erp_fiscal_receipt_year" type="xsd:string"/>
     <xsd:element name="erp_reversal_fiscal_receipt" type="xsd:string"/>
     <xsd:element name="erp_reversal_fiscal_year" type="xsd:string"/>
     <xsd:element name="customer_identification_number" type="xsd:string"/>
     <xsd:element name="customer_legal_name" type="xsd:string"/>
     <xsd:element name="erp_business_location_code" type="xsd:string"/>
     <xsd:element name="supplier_identification_number" type="xsd:string"/>
     <xsd:element name="supplier_legal_name" type="xsd:string"/>
     <xsd:element name="erp_supplier_code" type="xsd:string"/>
     <xsd:element name="erp_payment_code" type="xsd:string"/>
     <xsd:element name="erp_company_code" type="xsd:string"/>
     <xsd:element name="fiscal_year" type="xsd:string"/>
     <xsd:element name="erp_document_type" type="xsd:string"/>
     <xsd:element name="erp_document_type_description" type="xsd:string"/>
     <xsd:element name="erp_posting_key" type="xsd:string"/>
     <xsd:element name="creation_date">
      <xsd:simpleType>
       <xsd:restriction base="xsd:date">
        <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="creation_hour">
      <xsd:simpleType>
       <xsd:restriction base="xsd:time">
        <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="installment" type="xsd:int"/>
     <xsd:element name="gross_total_value" type="xsd:decimal"/>
     <xsd:element name="total_value" type="xsd:decimal"/>
     <xsd:element name="total_value_in_balance" type="xsd:decimal"/>
     <xsd:element name="net_value" type="xsd:decimal"/>
     <xsd:element name="net_value_in_balance" type="xsd:decimal"/>
     <xsd:element name="payment_value" type="xsd:decimal"/>
     <xsd:element name="payment_value_preview" type="xsd:decimal"/>
     <xsd:element name="currency" type="xsd:string"/>
     <xsd:element name="payment_date">
      <xsd:simpleType>
       <xsd:restriction base="xsd:date">
        <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="net_due_date">
      <xsd:simpleType>
       <xsd:restriction base="xsd:date">
        <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="erp_block_code" type="xsd:string"/>
     <xsd:element name="erp_block_description" type="xsd:string"/>
     <xsd:element name="erp_description" type="xsd:string"/>
     <xsd:element name="erp_compensation_code" type="xsd:string"/>
     <xsd:element name="erp_compensation_fiscal_year" type="xsd:string"/>
     <xsd:element name="erp_compensation_date">
      <xsd:simpleType>
       <xsd:restriction base="xsd:date">
        <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="erp_payment_reversal_code" type="xsd:string"/>
     <xsd:element name="erp_payment_reversal_year" type="xsd:string"/>
     <xsd:element name="erp_payment_reversal_status" type="xsd:boolean"/>
     <xsd:element name="paid" type="xsd:boolean"/>
     <xsd:element name="payment_method" type="xsd:string"/>
     <xsd:element name="payment_method_description" type="xsd:string"/>
     <xsd:element name="payment_bank_code" type="xsd:string"/>
     <xsd:element name="payment_bank_agency" type="xsd:string"/>
     <xsd:element name="payment_bank_account" type="xsd:string"/>
     <xsd:element name="payment_bank_supplier_code" type="xsd:string"/>
     <xsd:element name="payment_bank_supplier_name" type="xsd:string"/>
     <xsd:element name="payment_bank_identification" type="xsd:string"/>
     <xsd:element name="bank_slips_digitable_line" type="xsd:string"/>
     <xsd:element name="transaction_code_reference" type="xsd:string"/>
     <xsd:element name="payment_run_date">
      <xsd:simpleType>
       <xsd:restriction base="xsd:date">
        <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="payment_run_identifier" type="xsd:string"/>
     <xsd:element name="updated_at">
      <xsd:simpleType>
       <xsd:restriction base="xsd:dateTime">
        <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="tax_document_data" minOccurs="0" type="ReceivablesTaxDoc"/>
     <xsd:element name="withholding_taxes" minOccurs="0" maxOccurs="unbounded" type="ReceivablesWHTax"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ReceivablesTaxDoc">
    <xsd:sequence>
     <xsd:element name="erp_tax_document_code" type="xsd:string"/>
     <xsd:element name="access_key" type="xsd:string"/>
     <xsd:element name="number" type="xsd:string"/>
     <xsd:element name="series" type="xsd:string"/>
     <xsd:element name="issue_date">
      <xsd:simpleType>
       <xsd:restriction base="xsd:date">
        <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="service_city_ibge_code" type="xsd:string"/>
     <xsd:element name="reversal_status" type="xsd:boolean"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ReceivablesWHTax">
    <xsd:sequence>
     <xsd:element name="category" type="xsd:string"/>
     <xsd:element name="retention_on_payment" type="xsd:boolean"/>
     <xsd:element name="category_description" type="xsd:string"/>
     <xsd:element name="code" type="xsd:string"/>
     <xsd:element name="code_description" type="xsd:string"/>
     <xsd:element name="tax_base_value" type="xsd:decimal"/>
     <xsd:element name="tax_rate" type="xsd:decimal"/>
     <xsd:element name="tax_value" type="xsd:decimal"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="FetchReceivablesReq">
  <wsdl:part name="FetchReceivablesReq" element="n1:FetchReceivablesReq"/>
 </wsdl:message>
 <wsdl:message name="FetchReceivablesRes">
  <wsdl:part name="FetchReceivablesRes" element="n1:FetchReceivablesRes"/>
 </wsdl:message>
 <wsdl:portType name="SI_FETCH_RECEIVABLES">
  <wsdl:operation name="FetchReceivables">
   <wsdl:input message="tns:FetchReceivablesReq"/>
   <wsdl:output message="tns:FetchReceivablesRes"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
